.grid {
  display: grid;
  grid-template-columns: 100px 1fr;
}

.logo {
  padding: 12px;
  height: 100px;
  width: 200px;
}

.main {
  display: flex;
  flex-direction: column;
}

.main > button {
  background-color: lightblue;
  height: 20px;
  width: 100px;
}

.job-container {
  border: 1px solid gray;
  border-radius: 4px;
  padding: 12px;
  margin: 12px;
  display: flex;
  flex-direction: column;
}

.job-container:hover {
  border: 2px solid peru;
  cursor: pointer;
}
.company-header > img {
  width: 100px;
}
