.grid {
  display: grid;
  grid-template-columns: 10% 1fr;
  margin-top: 4rem;
  padding: 2rem;
}

.list {
  grid-template-columns: 100px 1fr;
}

.logo {
  padding: 12px;
  height: 100px;
  width: 200px;
}

.main {
  display: flex;
  flex-direction: column;
}

.job-container {
  border: 2px solid black;
  padding: 1rem;
  margin: 1rem;
  width: 100%;
}
